// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary: #46647f;
$secondary: #99c9c5;
$accent: #8b8dd9;

$dark: #484d52;
$dark-page: #13181f;

$positive: #8ce6b6;
$negative: #e6394d;
$info: #1b8094;
$warning: #ffec45;
